#userbarToggle {
    max-height: 14px;
    min-height: 14px;
    bottom: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 2px;
    background: gray;
    color: white;
    top: 10px;
    border-radius: 2px;
    left: 4px
}

#header-bottom-right {
    display: flex;
    max-height: 13px
}

.sr-bar {
    color: gray
}

.subscribersk .word,.users-online .word {
    display: none
}

.md pre, .link .md pre {
    background: #F5F5F5;
}

.organic-listing .nextprev .arrow {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 200%;
    background-position: 50% 50%!important
}

.organic-listing .nextprev .arrow.next {
    background-image: url(%%arrow-right%%)
}

.organic-listing .nextprev .arrow.prev {
    background-image: url(%%arrow-left%%)
}

.sr-interest-bar {
    background: url(%%snoo-upside-down%%) 15px top no-repeat
}

#header-img.default-header {
    background-image: url(%%sprite-reddit%%);
    background-position: center
}

input[type=checkbox],input[type=password],input[type=text],textarea {
    border-radius: 4px;
    border: 1px solid #BDBDBD!important
}

input[type=password]:focus,input[type=text]:focus,textarea:focus {
    border: 1px solid #757575!important
}

.fancy-toggle-button .add.active,.fancy-toggle-button .remove.active,.morelink,.side .titlebox .md h3,.side p a[href*="#removeall"],button {
    background: #E0E0E0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    border-radius: 2px;
    padding: 0 12px;
    line-height: 32px;
    min-width: 64px;
    color: #000;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,.36),0 0 1px rgba(0,0,0,.18);
    cursor: pointer;
    font-size: 14px
}

.fancy-toggle-button .remove.active,.fancy-toggle-button .add.active {
    background: #43A047;
    color: #fff;
    font-size: 12px;
    font-weight: 400
}

.fancy-toggle-button .remove.active {
    background: #e53935
}

#sr-header-area .selected a {
    color: #fff
}

.selected {
    font-weight: initial
}

.morelink,.side .titlebox .md h3,.side a[href*="#removeall"] {
    padding: 4px 12px;
    display: block;
    text-align: center
}

.md pre {
    background-color: #E0E0E0;
}

code {
    font-family: Fira Code, Fira Mono, Source Code Pro, Menlo, monospace;
}

.link .md :not(pre)>code {
    background-color: #F5F5F5;
}

.spacer .morelink a,.spacer .morelink a:hover,.side .titlebox .md h3 a {
    color: #000;
    font-weight: 400
}

.morelink:hover,.side .titlebox .md h3:hover,.side a[href*="#removeall"]:hover,button:hover {
    background: #EEE;
    color: #000
}

.morelink:hover a {
    color: #000
}

.morelink:active,.side .titlebox .md h3:active,.side a[href*="#removeall"]:active,button:active {
    background: #BDBDBD
}

body,body>.content,button[disabled] {
    background: #EEE
}

button[disabled] {
    color: rgba(0,0,0,.26);
    cursor: default
}

.subscribers .number:after {
    content: " admirers"
}

.tagline a:hover,.content .hover a:hover,.content a:hover,.side .hover a:hover,.side a:hover {
    text-decoration: none;
    color: #29B6F6
}

#header a:hover {
    text-decoration: none
}

.users-online .number:after {
    content: " users currently admiring"
}

.titlebox h1 a {
    color: #000;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in
}

.titlebox h1 a:hover {
    color: #757575
}

.linkflairlabel {
    border-radius: 2px!important;
    padding: 2px 4px;
    margin-bottom: -5px
}

#search {
    width: 100%
}

.usertext-edit.md-container {
    width: calc(100% - 10px);
    max-width: calc(100% - 10px)
}

.usertext-edit.md-container .md,.usertext-edit.md-container .md textarea {
    max-width: calc(100% - 5px);
    display: block
}

#search input[type=submit] {
    margin-left: -26px
}

button:focus,input:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus,.fancy-toggle-button .remove {
    outline: 0
}

* {
    border: none!important;
    border-width: 0
}

button,input {
    -webkit-transition: background .1s ease-in,border .1s ease-in;
    transition: background .1s ease-in,border .1s ease-in
}

.morelink>.nub {
    display: none
}

body {
    font-family: "Open Sans","Roboto",Arial,sans-serif;
    background: #eee
}

.login-form a,a {
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
    color: #0288D1
}

.search-expando.collapsed,.sr-bar a {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in
}

body>.content {
    margin: 0;
    padding: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

body>.content>.spacer {
    background-color: #eee;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.message {
    margin: 0
}

#mail {
    transition: opacity .1s ease-in;
    opacity: .48;
    background-size: 100%;
    width: 18px;
    height: 13px;
    top: 1px
}

#mail:hover {
    opacity: .72
}

#mail.nohavemail {
    background-image: url(%%no-mail%%);
    background-position: 50% 50%
}

#mail.havemail {
    background-image: url(%%have-mail%%);
    background-position: 50% 50%
}

#header-bottom-right .flat-list li {
    width: 18px;
    height: 18px;
    top: -6px;
    background-image: url(%%settings%%);
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: .48;
    transition: opacity .1s ease-in
}

#header-bottom-right .flat-list li:hover {
    opacity: .72
}

#header-bottom-right .flat-list .pref-lang {
    overflow: hidden;
    display: inline-block;
    color: rgba(255,255,255,0);
    width: 18px
}

.content .linefield,.content>.commentarea,.content>.sitetable,.content>.spacer>.sitetable,.organic-listing,#preview-table>table,#images {
    padding: 10px 5px;
    margin: 5px 7px;
    border-radius: 5px
}

.content>.sitetable,.content>.spacer>.sitetable,.contents>.search-result,.organic-listing,.submit.content,#preview-table>table,#images {
    box-shadow: 0 3px 6px rgba(0,0,0,.12),0 0 2px rgba(0,0,0,.06);
    background: #fff
}

.content>.sitetable,.content>.spacer>.sitetable,.organic-listing {
    margin-top: 10px
}

#preview-table>table {
    width: 100%
}

.contents>.search-result {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.search-result-group {
    max-width: none
}

.search-expando.collapsed {
    display: none
}

.search-expando {
    display: block
}

.side,.submit.content {
    padding: 10px;
    border-radius: 5px
}

body.with-listing-chooser .listing-chooser {
    top: 115px
}

body.with-listing-chooser .listing-chooser .grippy {
    background: #eee
}

.content .linefield {
    background: #FAFAFA;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12),0 0 2px rgba(0,0,0,.06)
}

.content>.commentarea {
    background: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 0 2px rgba(0,0,0,.04)
}

.submit.content {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 5px 7px
}

body>.content>h1 {
    margin: 5px 7px
}

.side {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 10px;
    position: relative;
    margin-top: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12),0 0 2px rgba(0,0,0,.06)
}

.side::after {
    content: "stylesheet by /u/gingerdeadshot";
    font-size: 16px;
    color: rgba(0,0,0,.36);
    text-align: center
}

#header {
    background: #333;
    box-shadow: 0 3px 6px rgba(0,0,0,.24),0 0 3px rgba(0,0,0,.12)
}

#header-bottom-right {
    background: transparent;
    padding: 11px
}

#header-bottom-right a,.srdrop .title.selected {
    color: rgba(255,255,255,.48);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#header-bottom-right a:hover,.srdrop:hover .title.selected {
    color: rgba(255,255,255,.72)
}

.sr-bar a,.srdrop .title.selected {
    color: rgba(255,255,255,.48)
}

#sr-header-area {
    background: rgba(0,0,0,.3);
    padding: 4px 5px
}

.side span,body>.content span {
    font-size: 10px
}

.side p {
    font-size: 12px
}

.side .md p {
    font-size: 13px!important
}

.tabmenu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0,0,0,.5);
    font-size: 13.5px;
    line-height: 18px;
    margin-top: 10px
}

.entry .title .domain {
    display: none
}

.entry .title a,.side .account-activity-box a,.side .sidecontentbox a,.side .usertext-body a,.tagline a {
    color: #0288D1;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in
}

.account-activity-box a:hover,.entry .title a:hover,.self .tagline a:hover,.sidecontentbox a:hover,.usertext-body a:hover {
    color: #29B6F6
}

.pagename.redditname,.pagename.redditname a {
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
    color: rgba(255,255,255,.48);
    font-weight: 500;
    font-size: 20px
}

.pagename.redditname a:hover {
    color: rgba(255,255,255,.72)
}

.entry .flat-list a {
    color: #616161;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in
}

.entry .flat-list a:hover {
    color: #BDBDBD;
    text-decoration: none
}

.organic-listing>.help-hoverable {
    margin: 15px
}

.stickied .tagline a,.stickied .title a {
    color: #388E3C!important;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in
}

.stickied .tagline a:hover,.stickied .title a:hover {
    color: #66BB6A!important
}

.sr-bar a:hover {
    color: rgba(255,255,255,.72);
    text-decoration: none
}

.tabmenu li.selected a {
    background: transparent;
    color: #fff
}

.tabmenu li {
    margin: 0;
    padding: 8px
}

.tabmenu li a {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    margin: 0;
    background: transparent;
    color: rgba(255,255,255,.48);
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer
}

.tabmenu li a:hover {
    color: rgba(255,255,255,.72)
}

.link .usertext-body .md {
    background-color: transparent;
}

.md blockquote {
    border-left: 2px solid #c5c1ad!important;
}
